.contenedor-formularios {
    min-height: 85vh;
    background-color: #F8C1AC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
}